html, body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.row{
  height: 100vh;
}

.col-md-2{
  border-style: solid;
  border-right-color: white;
}

.col-md-10{

}

.buttonGroup{
    padding-top: 1em;
    padding-bottom: 1em
}

.lowButtons{
  margin-top: 5px;
}

#Browse{
  padding-right: 1px;
  padding-top: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  background-color:#62b6e0;
  color: #FFF;
  margin-left: 15px;
}

#textbox{
  width: 30%;
}

.btn-primary{
  background-color:#62b6e0;
  color: #FFF;
}

.btn-primary:hover {
    /* here copy default .btn class styles */
    cursor:default !important;
    /* or something like that */
}

.radio-inline{
  color: white;
  font-size: 13px;
  background-color: #62b6e0;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;

}


.tabArea{
  height: 93vh;  /*  ---> Does the work */
  border-style: solid;
  border-color: blue;
  padding-top: 0px;
  padding-right: auto;
}

.nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-color: red;
    font-size: 12px;
    font-weight: bold;

}

#sectionA{
  margin-right: 5px;
}

.imageTextArea{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
}

.imageTextArea>p{
  background-color: blue;
  color: white;
  text-align: center;
}

.imageArea{
  border-style: solid;
  border-color: red;
  margin-left: 10px;
  margin-right: inherit;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.rangeTypes{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.rangeTypes>p{
  background-color: blue;
  color:white;
  text-align: center;
}

.tableArea{
		margin: 10px;
    border-style: solid;
    border-color: white;
    height:59vh;
    color: white;
}

.gridView {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left:1px;
}

.item1{
    min-width: 50px;
    min-height: 50px;
    width: 25%;
    box-shadow: 1px 0 1px red;
    margin-right: 1px;
    margin-left: 1px;
}

.item2{
  min-width: 50px;
  min-height: 50px;
  width: 25%;
  box-shadow: 0.5px 0 1px #fff;
  margin-right: 1px;
  margin-left: 1px;
}

.item3{
  min-width: 50px;
  min-height: 50px;
  width: 25%;
  box-shadow: 0.5px 0 1px #01e652;
  margin-right: 1px;
  margin-left: 1px;
}

/* div.gridView:nth-child(1){
    margin-bottom: 1px;
}





/* div.item1:nth-child(2){
    margin-right: 1px;
    margin-left: 1px;
}

div.item1:nth-child(3){
    margin-right: 1px;
    margin-left: 1px;
} */



/* div.gridView:nth-child(1){
    margin-bottom: 1px;
}

div.gridView:nth-child(3){
    margin-top: 1px;
}

div.gridView:nth-child(1) {
    margin-bottom: 0px;
} */


/* ----------------------------------------------------- */


/*
.wrapper1{
  padding:2em;
}

.wrapper1>li{
  list-style-type: none;
}

.row1{
  display: flex;
}

.row1>ul>li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em; */
  /*flex: 1;*/
  /* border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.row1>ul>li:last-child{
  border-right: none;
}

.row1:last-child ul > li {
  border-bottom: none;
} */
